.content {
    margin-top: 50px;
    margin-left: 250px;
    padding: 16px;
    background-color: hsl(0, 0%, 7%);
    height: 100%;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
}
